.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appButton {
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

.appButton:active {
    transform: scale(0.98);
}
