:root {
    --app-default-color: green;
    --app-button-br: 5px;
    --header-h: 9.75rem;
    --color-dusty-gray: #979797;
    --color-white: #fff;
    --color-black: #000;
    --color-error-red: #d91b1b;
    --color-gigas: #3c3f9e;

    --app-w: 745px;
    --app-mw: 1500px;
}

@media screen and (max-width: 1024px) {
    :root {
    }
}

@media screen and (max-width: 745px) {
    :root {
    }
}

@media screen and (max-width: 343px) {
    :root {
    }
}
